body {
    background-color: black;
    color: red;
    text-align: center;
}

.accueil {
    margin-top: 100px;
}

a {
    color: deepskyblue;
}

ul {
    list-style-type: none;
}

ul {
    position: fixed;
    left: 20px;
    top: 100px;
}

hr {
    border: 1px solid red;
}


.menu {
    position: absolute;
    left: 20px;
    top: 50px;
}

.ligne {
    position: absolute;
    left: 180px;
    top: 20px;
    height: 500px;
    border-left: 2px solid red;
}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 150px;
}